<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form_group">    
  <%= f.label :email %><br>
    <%= f.email_field :email, :autofocus => true, class: "form_control" %>
  </div>

  <div class="form_group">
    <%= f.label :password %><br>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: "form_control" %>
  </div>

  <div class="form_group">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: "form_control" %>
  </div>

  <div class="form_group"><br>
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>