<%= form_for(@order) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, size: 40 %>
  </div>
  <div class="actions">
    <%= f.submit 'Order Now' %>
  </div>
<% end %>
