<% unless cart.line_items.empty? %>
<div class="cart_title">Your Cart</div>
    <table>
    <%= render(cart.line_items) %>
        <tr class="total_line">
        <td colspan="2">Total</td>
        <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
        </tr>
    </table>
    <% end %>

<%= link_to 'Continue Shopping', store_index_path, class: "btn btn-lg btn-primary" %>
<% if user_signed_in? %>
<%= link_to "Checkout", greetings_path, class: "btn btn-lg btn-primary" %>
<% else %>
<%= link_to "Checkout", new_user_session_path, class: "btn btn-lg btn-primary" %>

<% end %>
