<h1>Listing products</h1>

<% @products.each do |products| %>
  <% products.select! {|x| !x.nil?} %>
  <div class='row'>
    <% products.each do |product| %>
      <div class='col-md-4'>
        <div class="thumbnail">
            <img src= <%= product.image.url %> >
            <div class="caption">
              <span class=""><%= product.product_name %></span>
              <span class=""><%= product.description %></span>
              <span class=""><%= number_to_currency(product.price, unit: '€') %></span>
            </div>
          </div>
      </div>
    <% end %>
  </div>
<% end %>
<br>

<%= link_to 'Back to Main', store_index_path %>