<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-6">
      <div class ="thumbnail">
        <%= image_tag @product.image.url(:medium) %>
        </div>
     </div>
    <div class="col-md-6">
      <h3><%= @product.title %></h3>
      <p>  <%= @product.description %></p>
      <p>  <%= number_to_currency(@product.price, unit: "€") %></p>
  </div>
  </div>
  

 <p><%= link_to 'Add to Cart', line_items_path, class: "btn btn-primary"%></p>
<%= link_to 'Back', products_path, class: "btn btn-link" %>
