<h1>Edit Product</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Product</th>
      <th>Cart</th>
      <th>Price</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.product_id %></td>
        <td><%= line_item.product.title %></td>
        <td><%= line_item.cart.id %></td>
        <td><%= line_item.product.price %></td>
        <td><%= link_to 'Remove item', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <br>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

  <tbody>
      <tr>
        <td> <% if user_signed_in? %>
              <%= link_to "Checkout", greetings_path, class: "btn btn-lg btn-primary" %>
              <% else %>
              <%= link_to "Checkout", new_user_session_path, class: "btn btn-lg btn-primary" %>
              <% end %></td>
      </tr>
  </tbody>
</table>
