<h1>Listing products</h1>
<div class="centre">
  <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= link_to image_tag(product.image.url), product %>
              <div class="caption">
              <h3><%= product.title %><h3>
                <p><%= number_to_currency(product.price, unit: "€",) %>
                <%= link_to 'Discover More', product, class: "btn btn-link" %>
                <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
                </p>
              </div>
          </div>
        </div>
        <% end %>
</div>
</div>
<br>
